/* CSS styles for the ErrorPage component */

/* Styles for the outer container of the ErrorPage */
.errorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styles for the inner container of the ErrorPage */
.errorPage__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 10rem;
}

/* Styles for the error title */
.errorPage__Title {
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px #cccccc;
}

/* Styles for individual letters in the error title */
.number:nth-child(1) {
  color: #c3ecd9;
}

.number:nth-child(2) {
  color: #35c58a;
}

.number:nth-child(3) {
  color: #005834;
}

/* Styles for the error message */
.errorPage__Message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px #cccccc;
  text-align: center;
  font-weight: 550;
}
