/* Styling for the login page container */
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* CSS classes for hiding and showing elements */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Styling for the background of the login page */
.main__LoginPage {
  display: block;
  background-color: #12002b;
  flex-grow: 1;
}

/* Styling for the error message when credentials are invalid */
.invalid {
  padding-top: 10px;
  font-size: 1.2vh;
  color: red;
  text-align: end;
}

/* Styling for the sign-in container */
.main__LoginPage__Container {
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

/* Styling for the user icon */
.title_Login_Icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Styling for the page title */
.main__LoginPage__Container__title {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
  margin-block-end: 0.83em;
}

/* Styling for the form */
form {
  display: block;
  margin-top: 0em;
}

/* Styling for input container */
.loginForm__Container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

/* Styling for input label */
.loginForm__Container__Label {
  font-weight: bold;
}

/* Styling for checkbox container */
.check__Container {
  display: flex;
}

/* Styling for input elements */
.input {
  padding: 5px;
  margin-bottom: 22px;
  font-size: 1.2rem;
}

/* Styling for the "Remember me" label */
.check__Container__Label {
  font-weight: normal;
  margin-margin-left: 0.25rem; /* Should be "margin-left" instead of "margin-margin-left" */
}

/* Styling for the "Remember me" checkbox */
.check__Container__Input {
  margin: 3px 10px 3px 4px;
}

/* Styling for the sign-in button */
.loginButton {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  background-color: #00bc77;
  color: #fff;
  border: none;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .main__LoginPage {
    flex-grow: 2;
    display: flex;
    justify-content: center;

    align-items: center;
  }

  .signIn_Container {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .LoginForm__Container__Label {
    text-align: center;
    padding: 10px;
  }

  .main__LoginPage__Container__title {
    margin-top: 0;
  }
}
