.visible {
  display: flex;
}

.hidden {
  display: none;
}

.iconVisibility {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.none {
  display: none;
  height: 0;
  width: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  width: 100%;
}

.header__Link {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 0.5rem;
}

.header__Link:hover {
  color: #2c3e50;
  text-decoration: underline;
}

.header_Login_Icon {
  margin-right: 0.2rem;
}

.sr_only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.header__FirstName::first-letter {
  text-transform: uppercase;
}

.header__Link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 1rem;
}

.header__Link:hover {
  color: #2c3e50;
  text-decoration: underline;
}

.header_Login_Icon {
  margin-right: 0.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  width: 100%;
}

.header__FirstName::first-letter {
  text-transform: uppercase;
}

.header_ProfileBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 1rem;
}

.header__Link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 1rem;
}

.header__Link:hover {
  color: #2c3e50;
  text-decoration: underline;
  transform: scale(1.1);
}

.header_Login_Icon {
  margin-right: 0.2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

@media (max-width: 425px) {
  .header {
    padding: 15px;
  }

  .header > a {
    margin: 0px;
    padding: 0 0;
    max-width: 50%;
  }

  .header_ProfileBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    margin-right: 1rem;
  }
  .header__Link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    margin: 0 0.25rem;
    font-size: 0.75rem;
    width: auto;
    text-wrap: nowrap;
  }
  .header__Link:hover {
    color: #2c3e50;
    text-decoration: underline;
  }
  .header_Login_Icon {
    margin-right: 20px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0.25rem;
  }
}
