/* Styles for the Transaction Module */
.AccountPageDetails {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  border: 1px solid #ccc;
  background-color: #fff;
}

.AccountPageDetails__DateContainer {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.AccountPageDetails__DateContainer__Wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 10px 70px;
}

.AccountPageDetails__Container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  & div {
    display: flex;
    align-items: center;
  }
}

.notes {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 10px 0;
  text-align: center;
}

.balance {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.AccountPageDetails__Collapsed {
  display: none;
}

.expanded {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  overflow: visible;
  white-space: nowrap;
  & p {
    margin-left: 100px;
    width: 100%;
    height: 10px;
  }
}

.arrowIcon {
  position: relative;
  left: -50px;
  width: 35px;
  height: 20px;
}

.date {
  position: relative;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.transactionType {
  display: flex;
  height: 100%;
  width: 125%;
  align-items: flex-start;
  margin: 10px 0;
  text-align: center;
}

.category {
  display: flex;
  height: 100%;
  align-items: flex-start;
  margin: 10px 0;
  text-align: center;
}

.AccountPageDetails div p {
  font-size: 75%;
}

.amount {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 25%;
  justify-content: center;
  text-align: center;
}

.pencilIcon {
  position: relative;
  left: 10px;
  width: 20px;
  height: 20px;
}

@media (max-width: 991px) {
  .expanded {
    margin-left: 0%;
    width: 100%;
    padding-left: 0px;
    & p {
      margin-left: 80px;
    }
  }

  .AccountPageDetails div p {
    font-size: 70%;
  }

  .AccountPageDetails__DateContainer__Wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 10px 20px;
  }

  .arrowIcon {
    position: relative;
    left: -10px;
  }
}

@media (max-width: 767px) {
  .expanded {
    margin-left: 0%;
    width: 100%;
    padding-left: 0px;
    & p {
      margin-left: 35px;
    }
  }

  .AccountPageDetails div p {
    font-size: 50%;
  }

  .AccountPageDetails__DateContainer__Wrapper {
    margin: 0px;
  }

  .arrowIcon {
    width: 10px;
    position: relative;
    left: 10px;
  }
}

@media (max-width: 375px) {
  .AccountPageDetails__DateContainer__Wrapper p {
    font-size: 10%;
  }
}
